<div {{hidden}} class="container">
    <style>
        .calendar th {
            font-size: 10px;
        }

        .calendar td {
            padding: 8px;
        }
    </style>
    <table class="table table-bordered calendar" style="table-layout: fixed;">
        <thead>
            <tr>
                <th colspan="7" style="text-align:center;">
                    <h2>{{month}}</h2>
                </th>
            </tr>
            <tr>
                <th scope="col">Sunday</th>
                <th scope="col">Monday</th>
                <th scope="col">Tuesday</th>
                <th scope="col">Wednesday</th>
                <th scope="col">Thursday</th>
                <th scope="col">Friday</th>
                <th scope="col">Saturday</th>
            </tr>
        </thead>
        <tbody>
            {{#each weeks }}
            <tr>
                {{#each this}}
                <td style="background: {{background}};">

                    {{#if showTitle}}
                    <div><b>{{title}}</b></div>
                    {{/if}}

                    {{#each events}}
                    <div style="color: red; {{style}}">{{text}}</div>
                    {{/each}}

                    {{#if active}}
                    <label>{{label}}</label>
                    <input type="number" value="{{count}}" id="Count{{id}}" style="width: 100%;" min="0" max="20" />
                    {{/if}}
                </td>
                {{/each}}
            </tr>
            {{/each}}
        </tbody>
    </table>
    <div class="row justify-content-around">
        <div class="col-4" style="text-align: center;">
            <button id="Previous" class="btn btn-primary" {{previousDisabled}}>Previous Month</button>
        </div>
        <div class="col-4" style="text-align: center;">
            <button id="Next" class="btn btn-primary" {{nextDisabled}}>Next Month</button>
        </div>
    </div>
    <br />
    <div class="row justify-content-between">
        <div class="col-4" style="text-align: center;">
            <button id="ToEvents" class="btn btn-primary">Add More Events</button>
        </div>
        <div class="col-4" style="text-align: center;">
            <button id="Done" class="btn btn-primary">Done</button>
        </div>
    </div>
</div>