<div {{hidden}}>
    <table class="table table-sm" style="table-layout: fixed">
        <thead>
            <tr>
                <th scope="col" style="width:100px"></th>
                <th scope="col">Date</th>
                <th scope="col">Event</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><i>Example</i></td>
                <td>07/31/2018</td>
                <td>My Birthday</td>
            </tr>
            {{#each events}}
            <tr>
                <td>
                    <button class="btn btn-outline-danger" id="Remove{{id}}" data-toggle="tooltip" data-placement="top"
                        title="Trash">
                        <i class="fas fa-trash"></i>
                    </button>
                    <button class="btn btn-outline-info" id="Clone{{id}}" data-toggle="tooltip" data-placement="top"
                        title="Copy Event">
                        <i class="fas fa-clone"></i>
                    </button>
                </td>
                <td>
                    <input class="form-control" id="Date{{id}}" value="{{day}}" />
                </td>
                <td><input class="form-control" style="width:100%" id="Name{{id}}" value="{{name}}" /></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <button id="AddEvent" class="btn btn-success float-left">Add Event</button>
    <br />
    <button id="ToCalendar" class="btn btn-primary float-right">Done Adding</button>
</div>